<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.senghoo.daylog</string>
	<key>connections</key>
	<dict>
		<key>4242C299-032B-4DF8-BA6B-4E00AF447963</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFF3E7D0-EB55-49FA-AE24-57C99C15C7A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D9683E55-9237-4C42-AAFC-1699B0E16FBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFF3E7D0-EB55-49FA-AE24-57C99C15C7A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9683E55-9237-4C42-AAFC-1699B0E16FBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Senghoo Kim</string>
	<key>description</key>
	<string>Day Log</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DayLog</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/day.scpt")) with parameters {"{query}"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EFF3E7D0-EB55-49FA-AE24-57C99C15C7A6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>您输入的"{query}"已经被添加至 Evernote !</string>
				<key>title</key>
				<string>记录一下</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D9683E55-9237-4C42-AAFC-1699B0E16FBD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>log</string>
				<key>subtext</key>
				<string>我在干什么</string>
				<key>text</key>
				<string>记录一下</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4242C299-032B-4DF8-BA6B-4E00AF447963</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>created by @pheyer https://www.v2ex.com/t/461439

modified by @Kaijun</string>
	<key>uidata</key>
	<dict>
		<key>4242C299-032B-4DF8-BA6B-4E00AF447963</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>D9683E55-9237-4C42-AAFC-1699B0E16FBD</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>EFF3E7D0-EB55-49FA-AE24-57C99C15C7A6</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>notebook</key>
		<string>快速笔记</string>
		<key>notename</key>
		<string>Log - </string>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>http://senghoo.com</string>
</dict>
</plist>
